<h1>Roll the Dice!</h1>

<% 
dice1 = rand(1..6)
dice2 = rand(1..6)
%>

<p>
<img src="/images/dice/<%=dice1%>.svg" style="border: 5px solid gray">
<p> </p>
<img src="/images/dice/<%=dice2%>.svg" style="border: 5px solid gray">
</p>

<p>
<a href="/dice">Play Again</a>
</p>

<p></p>
