<%
contacts = Contact.all
companies = Company.all
%>
<h1>Contacts</h1>

<ul>
<% for contact in contacts%>
<li>
<%=contact["first_name"]%> - 
<%=contact["last_name"]%> - 
<%= companies.find_by({"id"=>contact["company_id"]})["name"] %> -
<%= contact["email"]%>
</li>
<% end %>
</ul>