<%fillings=["fish","chicken","beef","beans"] %>

<h1>All About Tacos </h1>

<p>Types of Fillings</p>
<ul>
<% for filling in fillings %>
<li><%=filling%></li>
<% end %>
</ul>

<p>Tacos are a delicious and popular Mexican dish that have become a favorite all around the world. Here are some fun facts about tacos:</p>
